{% extends "./base2.html" %}

{% block content %}
<div class="container-ac">
  <div class="container-about rounded m-auto shadow-lg" style="text-align: center;">
    <h1>About Us</h1>
    <img src="https://flores-creations.s3.us-east-2.amazonaws.com/AB.JPG" style="margin-bottom: 3vh;">
    <p>We are a small mom and pop shop, or more appropriately, mom and children shop. We understand how important family is and wanted to find a way to help you to keep your family and friends safe during these uncertain times. Often times these masks are mandatory and leave us without a sufficient way to express ourselves, since we can no longer rely on facial expressions. Our family decided that it was a great idea to team up and help to provide face masks during the pandemic that allowed you to express your individuality and personality. We hope that each mask is something for you to get excited about and makes it that much easier for you and your family to make it through these troubling times! </p>
    <h1>Grace aka "Ma"</h1>
    <p>Grace is the talent behind the whole business and the reason why we are able to confidently and proudly offer you a quality product. She hand crafts the masks as she has a background in sewing, although this was her first attempt in producing masks. </p>
    <p>She excelled in her role, making it possible to offer custom options and was able to keep up with the amount of requests for these masks. While typically reserved in nature, the challenge of the custom work really brings out a passion in her that is unmatched. If you have any ideas for a mask, do not hesitate to let us know and we will reach out to make sure that she understands your design. We are here to bring your ideas to life.</p>
    <h1>Frankie</h1>
    <p>Frankie is the face of our company in that she handles all things customer relations, whether it is sales, customer inquiries, and even deliveries when it is required. She is focused on delivering the best possible experience for you and being there for you when you have questions or if anything unexpected should ever come up with your order. She is a woman that wears many hats, making her an integral part of our business and she is the glue that holds our business together.</p>
    <h1>Jeff</h1>
    <p>I am the creator of this website and occasionally help out with the digital aspect of bringing designs to life. Ultimately my role is irrelevant and I am just here to gush about my family, if you haven’t already realized that by now… I am grateful to be a part of helping keep people safe during these uncertain times and I hope you look forward to your mask as much as we love making them for you.</p>
  </div>
</div>
{% endblock %}
