.logo-top {
  text-align: center;
}
.logo-top h1 {
  font-size: 85px;
  text-decoration: line-through;
}
.navbar a {
  font-size: 15px;
}
.container-landing {
  min-height: 85vh;
  min-width: 100vw;
  text-align: center;
}
.container-landing h1 {
  color: #EDC5C3;
  padding-top: 35vh;
  font-size: 115px;
}
.container-wb {
  background: #F0E4E0;
  min-height: 85vh;
  min-width: 100vw;
  text-align: center;
  padding-bottom: 5vh;
}
.container-wb .carousel-item {
  margin-left: 35vh;
}
.container-wb h1 {
  font-size: 95px;
  padding: 5vh;
}
.carousel-item {
  max-height: 75vh;
  max-width: 60vw;
}
.carousel-control-prev {
  color: black;
}
.container-ac {
  background: #F6EBEA;
  min-height: 80vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.container-contact {
  max-width: 44vw;
  background: white;
  padding: 5vh;
}
.container-contact h1 {
  text-align: center;
  font-size: 55px;
  margin-bottom: 5vh;
}
.container-about {
  max-width: 60vw;
  background: white;
  padding: 5vh;
}
.container-about h1 {
  text-align: center;
  font-size: 55px;
  margin-top: 7vh;
  margin-bottom: 5vh;
}
.container-about img {
  margin-bottom: 5vh;
  margin-left: 15vw;
}
.container-about p {
  text-align: center;
}
.container-shoppe {
  background: #F6EBEA;
  min-height: 80vh;
  padding: 5vh;
  display: inline-flex;
  min-width: 100vw;
}
.menu {
  max-width: 20vw;
  background: white;
  text-align: center;
  padding: 5vh;
  margin-bottom: 5vh;
}
.menu p {
  font-size: 16px;
}
.menu h4 {
  font-size: 30px;
}
.menu2 {
  max-width: 20vw;
  min-width: 14vw;
  background: white;
  text-align: center;
  padding: 5vh;
}
.menu2 p {
  font-size: 16px;
}
.menu2 h4 {
  font-size: 30px;
}
.container-shoppe-right {
  max-width: 75vw;
  min-width: 75vw;
  background: white;
  text-align: center;
  padding: 5vh;
  margin-left: 5vh;
  display: inline-flex;
  flex-flow: row wrap;
  height: auto;
}
.card {
  margin: 2.5vh;
  min-width: 22vw;
}
.btn.pinky {
  color: white;
  background-color: #EDC5C3;
  font-size: 35px;
  margin-top: 5vh;
  border-color: #EDC5C3;
}
.btn.pinky:hover {
  background-color: white;
  color: #EDC5C3;
  border-color: #EDC5C3;
}
.btn.pinky2 {
  color: white;
  background-color: #EDC5C3;
  font-size: 30px;
  margin-top: 5vh;
}
.btn.pinky3:hover {
  background-color: white;
  color: #EDC5C3;
  border-color: #EDC5C3;
}
.btn.pinky3 {
  color: white;
  background-color: #EDC5C3;
  font-size: 30px;
  margin-top: 3vh;
  border-color: #EDC5C3;
  margin-left: 16vw;
}
.btn.pinky4:hover {
  background-color: white;
  color: #EDC5C3;
  border-color: #EDC5C3;
}
.btn.pinky4 {
  color: white;
  background-color: #EDC5C3;
  font-size: 20px;
  border-color: #EDC5C3;
  margin: 1vh;
}
.container-product {
  background: #F6EBEA;
  min-height: 80vh;
  padding: 5vh;
  display: inline-flex;
  min-width: 100vw;
  max-width: 100vw;
}
.container-product-pic {
  width: 60vw;
  height: auto;
  background: white;
}
.product-d {
  min-width: 34vw;
  max-width: 34vw;
  min-height: 30vh;
  height: auto;
  text-align: left;
  background: white;
  padding: 5vh;
  margin-right: 5vh;
}
.product-d-name {
  text-align: center;
}
.container-product-d {
  width: 100vw;
  min-height: 40vh;
  background: white;
  text-align: center;
  padding: 5vh;
}
.product-d-options {
  display: inline-flex;
  margin-top: 1vh;
}
.product-d-options h4 {
  margin-top: 3.3vh;
}
.product-d-options h3 {
  margin-top: 10.5vh;
}
.product-d-options h2 {
  margin-top: 10vh;
  margin-left: 4vw;
  margin-bottom: 4vh;
}
.product-d-options-output {
  margin-left: 10vw;
  margin-top: 3vh;
}
.container-cart {
  background: #F6EBEA;
  min-height: 80vh;
  height: auto;
  padding: 5vh;
  display: inline-flex;
  min-width: 100vw;
  max-width: 100vw;
}
.container-cart-products {
  width: 60vw;
  background-color: white;
  min-height: 20vh;
  height: auto;
  text-align: center;
  padding: 3vh;
  display: block;
  padding-bottom: 5vh;
}
.container-cart-summary {
  width: 30vw;
  background-color: white;
  min-height: 10vh;
  height: auto;
  text-align: center;
  padding: 5vh;
  margin: auto;
  margin-top: 0;
  margin-left: 4vw;
}
.container-cart-summary-info {
  display: inline-flex;
  margin-top: 5vh;
}
.container-cart-summary-left-lower h4 {
  margin-bottom: 7vh;
}
.container-cart-summary-right {
  margin-left: 5vh;
}
.container-cart-summary-right-lower {
  margin-left: 5vh;
}
.container-cart-summary-right-lower h4 {
  margin-top: 6vh;
}
.container-cart-products-info {
  background-color: #e3f2fd;
  height: auto;
  margin-top: 5vh;
  display: inline-flex;
  width: auto;
  min-width: 55vw;
}
.container-cart-products-info img {
  max-width: 30vw;
}
.container-cart-products-details {
  padding-top: 3vh;
}
.container-cart-products-details h1 {
  text-align: left;
  margin-left: 5vw;
  text-decoration: none;
  color: black;
}
.container-cart-products-details-left {
  margin-left: 5vh;
}
.container-cart-products-details-right {
  margin-left: 8vh;
}
.container-cart-products-details-summary {
  display: inline-flex;
  margin-top: 2vh;
}
.container-cart-products-details-summary h3 {
  margin-top: 3vh;
}
footer {
  text-align: center;
  background: #e3f2fd;
}
